<h3 class="text-center">A Rails Application by Valerie Foster</h3>
<p class="text-center">Greek Heroes is an application inspired by my interest in Greek Mythology.</p>
<p class="text-center">The point of this application is for a user to be able to create heroes decended from an Olympian God and inherit their affinity.</p>
<p class="text-center">They can have their heroes battle a monster (there is a 1 in 4 chance their hero will win).</p>
<p class="text-center">A User's rank is determined by the highest number of monsters defeated of all their living heroes.</p>
<p class="text-center">They can also see information about different models in the application through the options on the Home page.</p>
<p class="text-center">Most of the pictures on the God pages are by Yliade from the website <%= link_to "Devient Art", "https://www.deviantart.com/yliade" %>.</p>
