<h3>A Rails Application by Valerie Foster</h3>
<p>Greek Heroes is an application inspired by my interest in Greek Mythology.</p>
<p>The point of this application is for a user to be able to create heroes decended from an Olympian God.</p>
<p>They can have their heroes battle a monster (there is a 1 in 5 chance their hero will win).</p>
<p>They can also see information about different models in the application through the options on the Home page.</p>
<p>Most of the pictures on the God pages are by Yliade from the website <%= link_to "Devient Art", "https://www.deviantart.com/yliade" %>.</p>
