<br/>
<br/>
<h1 class="text-center">Welcome to Greek Heroes!</h1>
<br/>
<%= image_tag("https://www.pngkey.com/png/full/93-932684_ares-vector-spartan-helmet-side-banner-library-spartan.png", height: '300', id: "welcome") %>
<br/>
<h3 class="text-center">Please <%= link_to "login", login_path %> or <%= link_to "sign up", signup_path %> to get started</h3>
<br/>
<h4 class="text-center"><%= link_to "About Page", about_path %></h4>
