<div>
<h1>All the Monsters</h1>
<ul class="list-inline text-center">
    <% @monsters.each do |monster| %>
        <li class="list-inline-item">
            <%= link_to monster.name, monster_path(monster) %>
        </li>
    <% end %>
</ul>
</div>
<br>