<div>
<h1>All the Gods</h1>
<ul class="list-inline text-center">
    <% @gods.each do |god| %>
        <li class="list-inline-item">
            <%= link_to god.name, god_path(god) %>
        </li>
    <% end %>
</ul>
</div>
<br>