<div>
<h2>Edit Your Hero</h2>

<%= render 'layouts/flash' %>

<%= form_for @hero, url: "/heroes/#{@hero.id}" do |f| %>
    <%= render partial: 'form', locals: { f: f } %>
    <%= f.submit "Update" %>
<% end %>
</div>
<br>