<h1>All Your Heroes</h1>

<h3>Living:</h3>
<ul>
    <% @living_heroes.each do |hero| %>
        <li>
            <%= link_to hero.name, hero_path(hero) %>
        </li>
    <% end %>
</ul>

<h3>Defeated:</h3>
<ul>
    <% @dead_heroes.each do |hero| %>
        <li>
            <%= link_to hero.name, hero_path(hero) %>
        </li>
    <% end %>
</ul>

<%= link_to "Create new Hero", new_hero_path %>