<h2>Create a New Hero</h2>
<%= render 'form' %>
Or <%= button_to "auto-generate a new hero", generate_hero_path, method: :post %>
<! -- %= form_tag metamorphose_path do % -->
    <! -- %= submit_tag "Become a frog" % -->
<! -- % end % -->